<%= render :partial => "common/nav" %>

<div id="body" class="pure-u-1" style="padding: 0 0 0 1em;">
  <p id="notice"><%= notice %></p>
  
  <h1>Blogs</h1>
  
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>User</th>
        <th>Update</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.category.name %></td>
          <td><%= blog.user.name %></td>
          <td><%= blog.updated_at %></td>
          <td><%= link_to 'Show', blog, class: "pure-button pure-button-primary", :target => "_self"  %></td>
          <td><%= link_to 'Edit', edit_blog_path(blog), class: "pure-button pure-button-primary", :target => "_self"  %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button pure-button-primary", :target => "_self"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Blog', new_blog_path, class: "pure-button pure-button-primary", :target => "_self"  %>
</div>