<%= render :partial => "common/nav" %>

<div id="list" class="pure-u-1" style="padding: 0 0 0 1em;">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "pure-form", target: "_self"}) do |f| %>
    
  
    <div class="field">
      <div><%= f.label :email %></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    
    <div class="field">
      <div><%= f.label :name %></div>
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <div><%= f.label :password %></div>
      <div>(leave blank if you don't want to change it)</div>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <div><%= @minimum_password_length %> characters minimum</div>
      <% end %>
    </div>
  
    <div class="field">
      <div><%= f.label :password_confirmation %></div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <div><%= f.label :current_password %></div>
      <div>(we need your current password to confirm your changes)</div>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Update", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>
  
  <h3>Cancel my account</h3>
  
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "pure-button pure-button-primary" %></p>
  
  
  <% if !alert.nil? %>
    <p class="pure-u-1-2 alert"><%= alert %></p>
  <% end %>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>