<%= render :partial => "common/nav" %>

<div id="list" class="pure-u-1" style="padding: 0 0 0 1em;">
  <h2>Resend unlock instructions</h2>
  
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "pure-form" }) do |f| %>
    
  
    <div class="field">
      <div><%= f.label :email %></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "pure-button pure-button-primary"  %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
  <% if !alert.nil? %>
    <p class="pure-u-1-2 alert"><%= alert %></p>
  <% end %>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>