<%= render :partial => "common/nav" %>

    <div id="list" class="pure-u-1">
        
        <% @blogs.each do |blog| %>
        <div class="page-item pure-g">
            <div class="pure-u-1">
                <h4 class="page-subject"><%= link_to blog.title, page_path(:category_id => blog.category_id, :id => blog.id), :target => "_self" %></h4>
                <h5 class="page-name"><%= blog.user.name %></h5>
                <p class="page-desc">
                    <%= blog.updated_at.strftime('%Y/%m/%d') %>
                </p>
            </div>
        </div>
        <% end %>
        

        
        
    </div>

    <div id="main" class="pure-u-1">
        <div class="page-content">
            <% if !@target_blog.nil? %>
            <div class="page-content-header pure-g">
                <div class="pure-u-3-4">
                    <h1 class="page-content-title"><%= @target_blog.title %></h1>
                    <p class="page-content-subtitle">
                         <%= @target_blog.user.name %> updated at <span><%= @target_blog.updated_at.strftime('%Y/%m/%d') %></span>
                    </p>
                </div>

                <div class="page-content-controls pure-u-1-4">
                    <% if @target_blog.prev.present? %>
                        <%= link_to '前へ',page_path(:category_id => @target_blog.prev.category_id, :id => @target_blog.prev.id), class: "secondary-button pure-button", :target => "_self" %>
                    <% end %>
                    <% if @target_blog.next.present? %>
                        <%= link_to '次へ',page_path(:category_id => @target_blog.next.category_id, :id => @target_blog.next.id), class: "secondary-button pure-button", :target => "_self" %>
                    <% end %>
                </div>
            </div>

            <div class="page-content-body">
                <%= @target_blog.body.html_safe %>
            </div>
            
            <div class="page-content-footer pure-g">
                <div class="page-content-controls pure-u-1-4">
                    <% if @target_blog.prev.present? %>
                        <%= link_to '前へ',page_path(:category_id => @target_blog.prev.category_id, :id => @target_blog.prev.id), class: "secondary-button pure-button", :target => "_self" %>
                    <% end %>
                    <% if @target_blog.next.present? %>
                        <%= link_to '次へ',page_path(:category_id => @target_blog.next.category_id, :id => @target_blog.next.id), class: "secondary-button pure-button", :target => "_self" %>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>