<%= render :partial => "common/nav" %>

    <div id="list" class="pure-u-1">
        
        <% @blogs.each do |blog| %>
        <div class="page-item pure-g">
            <div class="pure-u-3-4">
                
                <h4 class="page-subject"><%= blog.title %></h4>
                <p class="page-desc">
                    <%= blog.updated_at.strftime('%Y/%m/%d') %>
                </p>
            </div>
        </div>
        <% end %>
        

        
        
    </div>

    <div id="main" class="pure-u-1">
        <div class="page-content">
            <div class="page-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="page-content-title"><%= @target_blog.title %></h1>
                    <p class="page-content-subtitle">
                         updated at <span><%= @target_blog.updated_at.strftime('%Y/%m/%d') %></span>
                    </p>
                </div>

                <div class="page-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">前へ</button>
                    <button class="secondary-button pure-button">次へ</button>
                </div>
            </div>

            <div class="page-content-body">
                <%= @target_blog.body.html_safe %>
            </div>
        </div>
    </div>