    <div id="nav" class="pure-u">
        <div class="nav-menu-button" id="mobile_menu">
            <label class="toggle" for="open">
                <i class="fas fa-bars fa-xs" aria-hidden="true"></i>
            </label>
            <input id="open" type="checkbox">
            <div id="menu">
              <nav>
                <ul>
                <% if !@categories.nil? %>
                    <% @categories.each do |category| %>
                        
                        <li><%= link_to  category.name, category_path(category.id), class: "pure-menu-link font-small" %></li>
                        
                    <% end %>
                <% end %>
                </ul>
              </nav>
            </div>
        </div>

        <div class="nav-inner">
            <button class="primary-button pure-button" onclick="location.href='/'"><%= image_tag 'logo.png', :size => "80x80" %></button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <% if !@categories.nil? %>
                        <% @categories.each do |category| %>
                            <li class="pure-menu-item">
                            <%= link_to content_tag(:i, ' ' + category.name, class: 'fas fa-th'), category_path(category.id), class: "pure-menu-link" %>
                            </li>
                        <% end %>
                    <% end %>
                    <% if user_signed_in? %>
                        <li class="pure-menu-item"><a 
                            href="<%= blogs_path %>" class="pure-menu-link"><i class="fas fa-edit">
                            </i> ブログ作成</a></li>
                        <li class="pure-menu-item"><a 
                            href="<%= edit_user_registration_path %>" class="pure-menu-link"><i class="fas fa-user-edit">
                            </i> パスワード変更</a></li>
                        <li class="pure-menu-item">
                            <%= link_to content_tag(:i, ' ログアウト', class: 'fas fa-sign-out-alt'), destroy_user_session_path, method: :delete, class: "pure-menu-link" %>
                            </li>
                    <% else %>
                        <li class="pure-menu-item"><a 
                            href="<%= new_user_session_path %>" class="pure-menu-link"><i class="fas fa-user">
                            </i> ログイン</a></li>
                        <li class="pure-menu-item"><a 
                            href="<%= new_user_registration_path %>" class="pure-menu-link"><i class="fas fa-user-plus">
                            </i> ユーザ登録</a></li>
                    <% end %>
                    <!--
                    <li class="pure-menu-heading"></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link font-small" target="_blank"></a></li>
                    -->
                </ul>
            </div>
            <div class="pure-u">
                <% if !notice.nil? %>
                <p class="pure-u-1-2 notice"><%= notice %></p>
                <% end %>
            </div>
        </div>
    </div>